.user-1 {
  border: 1px solid #cc3300;
  background-color: #cc3300;
  color: white;
  border-radius: 8px;
}

.user-2 {
  border: 1px solid #2659c9;
  background-color: #2659c9;
  color: white;
  border-radius: 8px;
}

.card-content {
    height:500px;
    overflow-y: visible;
    overflow-x: hidden;
}
