#burger {
    float: right;
    color: White;
}

.card-header {
    text-align: center;
}

#semaineType {
    align-self: center;
    text-align: center;
}

#tableSemaineType {
    width: 14%;
}

#datepicker {
    margin-left: 22%;
}

#conteneur_calendrier {
    border-right: 2px solid lightgray;
}

#header_input_calendar{
    min-width: 220px;
}

#message_update_calendar {
    color : #E3007E;
}

#titre_calendar{
    color : white;
}


/* ## DATEPICKER ## */

