.card-header {
    color: white;
}

/* couleur des '!' et des liens d'avertissement */
#alertes_profil, #alert_dashboard {
    color: #E3007E;
}

#alert_dashboard:hover {
    color: rgb(247, 91, 176);
}


#rond_dashboard {
    border-radius: 50%;
    height: 180px;

}

.sousParties {
    float: left;
}

.min_width {
    min-width: 100px; 
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E3007E;   
}

#myModal {
    margin-top: 100px;
}

#icons_proposition_car{
    height: 23px;
    width: 23px;
    margin-bottom: 5px;
}