.card-header {
    color: white;
}

/* couleur des '!' et des liens d'avertissement */
#alertes_profil, #alert_dashboard {
    color: #E3007E;
}

#alert_dashboard:hover {
    color: rgb(247, 91, 176);
}


#rond_dashboard {
    border-radius: 50%;
    height: 180px;

}

.sousParties {
    float: left;
}
