[class*="col-"]
{
    /* border: 1px solid indigo; */
    text-align: center;
}

#container_profil {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    border: none;
}

#message_update {
    color : #E3007E;
}

#message_errors {
    color : red;
}

/*  card @address */
#card_address_content, #card_car_content {
    border : 1px solid;
    border-color: lightgray; 
    box-shadow:0 0 3px rgba(0,0,0,0.4);
    font-size: 12px;
}

#btn_card_views_card {
    width: 10%;
    font-size: 12px;
}

#address_label{
    color : black;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0.1px 0.1px #2F4F4F;
    text-align: center;
}

#btn_card_footer  {
    width: 10%;
    font-size: 12px;
    color: #0645AD;
}

/* ###### SIDE MENU ###### */
a {
    color: black;
}

.link_sidebar:hover {
    background-color: dimgray;
    color: white;
}

.list-group-item.active {
    background-color: #E3007E;
    border-color: #E3007E;
}

/* ###### Titre des Card ###### */

#titre_profil {
    color: white;
}

/* ###### Gestion des Inputs ###### */

#header_input_profil {
    min-width: 200px;
    text-align: center;
}

#header_input_profil_general_infos{
    min-width: 150px;
    text-align: center;
}

#header_input_vehicule {
    min-width: 230px;
    text-align: center;
}

#choix_input_profil {
    max-width: 450px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E3007E;
    
}

#checkbox_profil {
    text-align: center;
}

#submit_profil, #submit_car {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ###### Photo ###### */
#rond {
    border-radius: 50%;
    height: 180px;
}

/* ###### Classe pour l'affichage des pages ###### */
.hidden{
    visibility: hidden;
}

/* ###### Masquage des boutons radios des préférences ###### */
#id_smoker_0, #id_smoker_1, #id_talker_0, #id_talker_1, #id_music_0, #id_music_1 {
    display: none;
}

/* ###### Redimensionnement des boutons radios des préférences ###### */
#icon_smoker, #icon_talker, #icon_music {

    font-size: 70px ;
}
/* ###### Coloration des boutons radios des préférences ###### */
:checked + label {
    color: #E3007E;
}



#text_legend{
    margin-top: 5px ;
}

.empty_space {
    height: 50px;
}