/* Personnalisation des popup */
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: white;
    color: #e3007e;
}

.leaflet-control-geocoder-icon{
    background-image: url(Leaflet/Plugins/leaflet-control-geocoder/images/geocoder.png);
}

.leaflet-routing-geocoders{
    display: none;
}