

#header_signup{

    background-color: #00a0e0;
    color : white;
    font-size: 130%;
    height: 120%;
    padding-top: 5%;
    padding-bottom: 3%;
}

#from_signup{
    margin-top : 5% ;
    margin-bottom : 2% ;
}

#header_input_signup {
    min-width: 220px;
    text-align: center;
}
