.rond_trip {
    border-radius: 50%;
    height: 50px;
    width: 70% ;
}

.icon_pref_trip{
    color : #E3007E;
    font-size: 150%

}
.card_trip:hover{
    background-color: lightgray;
    border : solid 1px darkgrey;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

