{% extends 'base.html' %}
{% load static %}

{% block section %}

<div class="row">
    <div class="col-md-12">
        
        <h1 class="mt-3">Conditions Générales d'Utilisation</h1>
        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

        <h3 class="mt-5 mb-3">1. Objet</h3>
            <p style="text-align: justify;">
                Afpacar est une plateforme de covoiturage accessible à l’adresse " " et destinée à mettre en relation des conducteurs 
                avec des passagers allant dans la même direction afin de leur permettre de partager le trajet et donc les frais qui y sont associés.<br> 
                <br>
                Les présentes conditions générales d’utilisation ont pour objet d’encadrer l’accès et les modalités d’utilisation de la plateforme. 
                Nous vous invitons à en prendre attentivement connaissance. Vous comprenez et reconnaissez que Afpacar n’est partie à aucun accord, 
                contrat ou relation contractuelle, de quelque nature que ce soit, conclu entre les membres de sa plateforme.<br>
                <br>
                En cliquant sur le bouton « Créer un compte », vous reconnaissez avoir pris connaissance et accepter l’intégralité 
                des présentes conditions générales d’utilisation.
            </p>

        <h3 class="mt-5 mb-3">2. Définitions</h3>
            <p style="text-align: justify;">
                Dans les présentes,<br>
                <br>
                <b> Afpacar </b> a la signification qui lui est donnée à l’article 1 ci-dessus ;<br>
                <br>
                <b> CGU </b> désigne les présentes Conditions Générales d’Utilisation ;<br>
                <br>
                <b> Compte </b> désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder à certains services proposés par la plateforme ;<br>
                <br>
                <b> Conducteur </b> désigne le Membre proposant, sur la plateforme, de transporter une autre personne physique en contrepartie de la Participation aux Frais, pour un trajet et un horaire défini par lui-seul ;<br>
                <br>
                <b> Membre </b> désigne toute personne physique ayant créé un Compte sur la plateforme ;<br>
                <br>
                <b> Passager </b> désigne le Membre ayant accepté la proposition d’être transporté par le Conducteur ou, le cas échéant, la personne pour le compte de laquelle un Membre a réservé une Place ou par l’Autocariste ;<br>
                <br>
                <b> Point de rencontre </b> désigne une étape sur un trajet ;<br>
                <br>
                <b> Trajet </b> désigne indistinctement un Trajet en Covoiturage ;<br>
            </p>

        <h3 class="mt-5 mb-3">3. Inscription à la plateforme et création de Compte</h3>
            <h5 class="mb-3">3.1. Conditions d’inscription à la plateforme</h5>
                <p style="text-align: justify;">
                    L’utilisation de la plateforme est réservée aux personnes physiques stagiaires ou employées dans un centre Afpa. Il est nécessaire de posséder un numéro identifiant Afpa pour pouvoir s'enregistrer et utiliser les services proposés.
                </p>
            <h5 class="mt-5 mb-3">3.2. Création de Compte</h5>
                <p style="text-align: justify;">
                    La plateforme permet aux membres de publier et consulter des Trajets de Covoiturage ainsi que d’interagir entre eux pour la réservation de Place. Vous ne pouvez ni publier une Annonce de Covoiturage ni réserver une Place sans avoir, au préalable, créé un Compte et être devenu Membre.<br>
                    <br>
                    Pour vous inscrire sur la plateforme, vous devez avoir lu et accepter les présentes CGU.<br>
                    <br>
                    A l’occasion de la création de votre Compte, et ce quelle que soit la méthode choisie pour ce faire, vous vous engagez à fournir des informations personnelles exactes et conformes à la réalité et à les mettre à jour, par l’intermédiaire de votre profil.<br>
                    <br>
                    Vous vous engagez à garder secret le mot de passe choisi lors de la création de votre Compte et à ne le communiquer à personne. Vous êtes seul responsable de l’utilisation faite de votre Compte par un tiers, tant que vous n’avez pas expressément notifié Afpacar de la perte, l’utilisation frauduleuse par un tiers ou la divulgation de votre mot de passe à un tiers.<br>
                    <br>
                    Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, d’autres Comptes que celui initialement créé.
                </p>

        <h3 class="mt-5 mb-3">4. Utilisation des Services</h3>
            <h5 class="mt-5 mb-3">4.1. Publication des Annonces de Covoiturage</h5>
                <p style="text-align: justify;">
                    En tant que Membre, et sous réserve que vous remplissiez les conditions ci-dessous, vous pouvez créer et publier des Trajets de Covoiturage sur la plateforme en indiquant des informations (dates/heures et lieux de départ et d’arrivée, nombre de places offertes, préférences de trajet, etc.).<br>
                    <br>
                    Les membres peuvent indiquer des étapes, appellées "Points de Rencontre" dans lesquelles ils acceptent de s'arrêter pour prendre ou déposer des Passagers.<br>
                    <br>
                    Vous n’êtes autorisé à publier un Trajet de Covoiturage que si vous remplissez l’ensemble des conditions suivantes :<br>
                        <ol>
                            <li>Vous êtes titulaire d'un permis de conduire valide ;</li>
                            <li>Vous ne proposez des Trajets de Covoiturage que pour des véhicules dont vous êtes le propriétaire ou que vous utilisez avec l’autorisation expresse du propriétaire, et dans tous les cas, que vous êtes autorisés à utiliser à des fins de covoiturage ;</li>
                            <li>Vous êtes et demeurez le conducteur principal du véhicule, objet de l’Annonce de Covoiturage ;</li>
                            <li>Le véhicule bénéficie d’une assurance au tiers valide ;</li>
                            <li>Vous n’avez aucune contre-indication ou incapacité médicale à conduire ;</li>
                            <li>Le véhicule que vous comptez utiliser pour le Trajet est une voiture de tourisme à 4 roues, disposant d’un maximum de 7 places assises, à l’exclusion des voitures dites « sans permis » ;</li>
                            <li>Vous ne comptez pas publier une autre annonce pour le même Trajet en Covoiturage sur la plateforme ;</li>
                            <li>Vous n’offrez pas plus de Places que celles disponibles dans votre véhicule ;</li>
                            <li>Toutes les Places offertes ont une ceinture de sécurité, et ce même si le véhicule est homologué en présence de sièges dépourvus de ceinture de sécurité ;</li>
                            <li>Vous utilisez un véhicule en parfait état de fonctionnement et conforme aux usages et dispositions légales applicables, notamment avec un contrôle technique à jour ;</li>
                            <li>Vous êtes un consommateur et n’agissez pas à titre professionnel.</li>
                        </ol>
                    <br>
                    Vous reconnaissez être le seul responsable du contenu de l’Annonce de Covoiturage que vous publiez sur la plateforme. En conséquence, vous déclarez et garantissez l’exactitude et la véracité de toute information contenue dans votre Annonce de Covoiturage et vous engagez à effectuer le Trajet en Covoiturage selon les modalités décrites dans votre Annonce de Covoiturage.<br>
                    <br>
                    Votre Annonce de Covoiturage sera publiée sur la plateforme et donc visible des Membres effectuant une recherche. Afpacar se réserve la possibilité, à sa seule discrétion et sans préavis, de ne pas publier ou retirer, à tout moment, toute Annonce de Covoiturage qui ne serait pas conforme aux CGU ou qu’elle considérerait comme préjudiciable à son image, ou celle de la plateforme.                      
                </p>
            <h5 class="mt-5 mb-3">4.2. Réservation d’une Place</h5>
                <p style="text-align: justify;">
                    Lorsqu’un Passager est intéressé par une Annonce de Covoiturage, il peut effectuer une demande de Réservation en ligne. Cette demande de Réservation est acceptée manuellement par le Conducteur. Après validation de la demande de Réservation par le Conducteur, le Passager reçoit une confirmation de réservation.
                </p>

        <h3 class="mt-5 mb-3">5. Finalité non commerciale et non professionnelle de l’utilisation par des Conducteurs des Services et de la Plateforme</h3>
            <p style="text-align: justify;">
                Vous vous engagez à n’utiliser les services de la plateforme que pour être mis en relation, à titre non professionnel et non commercial, avec des personnes souhaitant partager un Trajet en Covoiturage avec vous ou pour réserver une Place.<br>
                <br>
                En tant que Conducteur, vous vous engagez à ne pas demander une Participation aux Frais supérieure aux frais que vous supportez réellement et susceptible de vous faire générer un bénéfice, étant précisé que s’agissant d’un partage de frais, vous devez également, en tant que Conducteur, supporter votre part des coûts afférents au Trajet en Covoiturage.<br>
                Vous êtes seul responsable d’effectuer le calcul des frais que vous supportez pour le Trajet en Covoiturage, et de vous assurer que le montant demandé à vos Passagers n’excède pas les frais que vous supportez réellement (en excluant votre part de participation aux frais), notamment en vous référant au barème fiscal kilométrique forfaitaire applicable.                
            </p>

        <h3 class="mt-5 mb-3">6. Politique d'annulation</h3>
            <p style="text-align: justify;">
                <ol>
                    <li>En cas d'annulation imputable au conducteur :</li>
                        <ol>
                            <li>A rédiger</li>
                        </ol>
                    <li>En cas d'annulation imputable au passager :</li>
                        <ol>
                            <li>Lorsque l’annulation intervient avant le départ et du fait du Passager, la ou les Places annulé(e)s par le Passager pour le dit Trajet en Covoiturage sont de plein droit remises à la disposition d’autres Passagers pouvant les réserver en ligne et en conséquence soumises aux conditions des présentes CGU.</li>
                        </ol>
                </ol>
            </p>

        <h3 class="mt-5 mb-3">7. Comportement des utilisateurs de la Plateforme et Membres</h3>
            <h5 class="mt-5 mb-3">7.1. Engagement de tous les utilisateurs de la Plateforme</h5>
                <p style="text-align: justify;">
                    Vous reconnaissez être seul responsable du respect de l’ensemble des lois, règlements et obligations applicables à votre utilisation de la Plateforme.<br>
                    <br>
                    Par ailleurs, en utilisant la Plateforme et lors des Trajets, vous vous engagez à :<br>
                    <ol>
                        <li>Ne pas utiliser la Plateforme à des fins professionnelles, commerciales ou lucratives</li>
                        <li>Ne transmettre à Afpacar (notamment lors de la création ou la mise à jour de votre Compte) ou aux autres Membres aucune information fausse, trompeuse, mensongère ou frauduleuse</li>
                        <li>Ne tenir aucun propos, n’avoir aucun comportement ou ne publier sur la Plateforme aucun contenu à caractère diffamatoire, injurieux, obscène, pornographique, vulgaire, offensant, agressif, déplacé, violent, menaçant, harcelant, raciste, xénophobe, à connotation sexuelle, incitant à la violence, à la discrimination ou à la haine, encourageant les activités ou l’usage de substances illégales ou, plus généralement, contraires aux finalités de la Plateforme, de nature à porter atteinte aux droits de Afpacar ou d’un tiers ou contraires aux bonnes mœurs</li>
                        <li>Ne pas porter atteinte aux droits et à l’image de Afpacar</li>
                        <li>Ne pas ouvrir plus d’un Compte sur la Plateforme et ne pas ouvrir de Compte au nom d’un tiers</li>
                        <li>Vous conformer aux présentes CGU et à la Politique de Confidentialité</li>
                    </ol>
                </p>
            <h5 class="mt-5 mb-3">7.2. Engagements des Conducteurs</h5>
                <p style="text-align: justify;">
                    En outre, lorsque vous utilisez la Plateforme en tant que Conducteur, vous vous engagez à :<br>
                    <ol>
                        <li>Respecter l’ensemble des lois, règles, codes applicables à la conduite et au véhicule, notamment à disposer d’une assurance responsabilité civile valide au moment du Trajet en Covoiturage et être en possession d’un permis de conduire en vigueur</li>
                        <li>Vous assurer que votre assurance couvre le covoiturage et que vos Passagers sont considérés comme tiers dans votre véhicule et donc couverts par votre assurance</li>
                        <li>Ne prendre aucun risque au volant, à n’absorber aucun produit de nature à altérer votre attention et vos capacités, à conduire avec vigilance et en toute sécurité</li>
                        <li>Publier des Annonces de Covoiturage correspondant uniquement à des trajets réellement envisagés</li>
                        <li>Effectuer le Trajet en Covoiturage tel que décrit dans l’Annonce de Covoiturage (notamment en ce qui concerne l’emprunt ou non de l’autoroute) et respecter les horaires et lieux convenus avec les autres Membres (notamment lieu de rendez-vous et de dépose)</li>
                        <li>Ne pas prendre plus de Passagers que le nombre de Places indiquées dans l’Annonce de Covoiturage</li>
                        <li>Utiliser un véhicule en parfait état de fonctionnement et conforme aux usages et dispositions légales applicables, notamment avec un contrôle technique à jour</li>
                        <li>Communiquer à BlaBlaCar ou tout Passager qui vous en fait la demande, votre permis de conduire, votre carte grise, votre attestation d’assurance, votre certificat de contrôle technique ainsi que tout document attestant de votre capacité à utiliser ce véhicule en tant que Conducteur sur la Plateforme</li>
                        <li>En cas d’empêchement ou de changement de l’horaire ou du Trajet en Covoiturage, en informer sans délais vos Passagers</li>
                        <li>Attendre les Passagers sur le lieu de rencontre convenu au moins 15 minutes au-delà de l’heure convenue</li>
                        <li>Ne pas publier d’Annonce de Covoiturage relative à un véhicule dont vous n’êtes pas le propriétaire ou que vous n’êtes pas habilité à utiliser à des fins de covoiturage</li>
                        <li>Vous assurer d’être joignable par téléphone par vos Passagers, au numéro enregistré sur votre profil</li>
                        <li>Ne générer aucun bénéfice par l’intermédiaire de la Plateforme</li>
                        <li>Garantir n’avoir aucune contre-indication ou incapacité médicale à conduire</li>
                        <li>Avoir un comportement convenable et responsable, au cours du Trajet en Covoiturage et conforme à l’esprit de covoiturage</li>
                    </ol>
                </p>
            <h5 class="mt-5 mb-3">7.3. Engagements des Passagers</h5>
                <p style="text-align: justify;">
                    Lorsque vous utilisez la Plateforme en tant que Passager dans le cadre d’un Trajet en Covoiturage, vous vous engagez à :<br>
                    <ol>
                        <li>Adopter un comportement convenable au cours du Trajet en Covoiturage de façon à ne gêner ni la concentration et la conduite du Conducteur ni la tranquillité des autres Passagers</li>
                        <li>Respecter le véhicule du Conducteur et sa propreté</li>
                        <li>En cas d’empêchement, en informer sans délai le Conducteur</li>
                        <li>Attendre le Conducteur sur le lieu de rencontre convenu au moins 15 minutes au-delà de l’heure convenue</li>
                        <li>Communiquer à Afpacar ou tout Conducteur qui vous en fait la demande, votre carte d’identité ou tout document de nature à attester de votre identité</li>
                        <li>Ne transporter, lors d’un Trajet en Covoiturage, aucun objet, marchandise, substance, animal de nature à gêner la conduite et la concentration du Conducteur ou dont la nature, la possession ou le transport est contraire aux dispositions légales en vigueur</li>
                        <li>Vous assurer d’être joignable par téléphone par le Conducteur, au numéro enregistré sur votre profil, notamment au point de rendez-vous</li>
                    </ol>
                </p>

        <h3 class="mt-5 mb-3">8. Suspension de comptes, limitation d’accès et résiliation</h3>
            <p style="text-align: justify;">
                Vous avez la possibilité de supprimer votre compte. Pour cela, il vous suffit de (a préciser)<br>
                <br>
                En cas de :<br>
                    <ol>
                        <li>Violation de votre part des présentes CGU, notamment de vos obligations en tant que Membre mentionnées aux articles 5 et 7 ci-dessus, </li>
                        <li>Ou si Afpacar a des raisons sérieuses de croire que ceci est nécessaire pour protéger sa sécurité et son intégrité, celles de ses Membres ou de tiers ou à des fins de prévention des fraudes ou d’enquêtes, Afpacar se réserve la possibilité de :</li>
                            <ol>
                                <li>Résilier, immédiatement et sans préavis, les présentes CGU ; et/ou</li>
                                <li>Empêcher la publication ou supprimer tout Annonce, messages, ou tout contenu publié par vous sur la Plateforme ; et/ou</li>
                                <li>Limiter votre accès et votre utilisation de la Plateforme ; et/ou</li>
                                <li>Suspendre de façon temporaire ou permanente votre Compte.</li>
                            </ol>
                    </ol>
                <br>
                Lorsque cela est nécessaire, vous serez notifié de la mise en place d’une telle mesure afin de vous permettre de donner des explications à Afpacar. Afpacar décidera, à sa seule discrétion, de lever les mesures mises en place ou non.  
            </p>

        <h3 class="mt-5 mb-3">9. Données personnelles</h3>
            <p style="text-align: justify;">
                    Dans le cadre de votre utilisation de la Plateforme, Afpacar est amenée à collecter et traiter certaines de vos données personnelles. En utilisant la Plateforme et vous inscrivant en tant que Membre, vous reconnaissez et acceptez le traitement de vos données personnelles par Afpacar conformément à la loi applicable et aux stipulations de la Politique de Confidentialité
            </p>

        <h3 class="mt-5 mb-3">10. Propriété intellectuelle</h3>
            <h5 class="mt-5 mb-3">10.1. Contenu publié par Afpacar</h5>
                <p style="text-align: justify;">
                    Sous réserve des contenus fournis par ses Membres, Afpacar est seule titulaire de l’ensemble des droits de propriété intellectuelle afférents au Service, à la Plateforme, à son contenu (notamment les textes, images, dessins, logos, vidéos, sons, données, graphiques) ainsi qu’aux logiciels et bases de données assurant leur fonctionnement.<br>
                    <br>
                    Afpacar vous accorde une licence non exclusive, personnelle et non cessible d’utilisation de la Plateforme et des Services, pour votre usage personnel et privé, à titre non commercial et conformément aux finalités de la Plateforme et des Services.<br>
                    <br>
                    Vous vous interdisez toute autre utilisation ou exploitation de la Plateforme et des Services, et de leur contenu sans l’autorisation préalable écrite de Afpacar. Notamment, vous vous interdisez de :<br>
                    <ol>
                        <li>Reproduire, modifier, adapter, distribuer, représenter publiquement, diffuser la Plateforme, les Services et leur contenu, à l’exception de ce qui est expressément autorisé par Afpacar</li>
                        <li>Extraire ou tenter d’extraire (notamment en utilisant des robots d’aspiration de données ou tout autre outil similaire de collecte de données) une partie substantielle des données de la Plateforme</li>
                    </ol>
                </p>
            <h5 class="mt-5 mb-3">10.2 Contenu publié par vous sur la Plateforme</h5>
                <p style="text-align: justify;">
                    Afin de permettre la fourniture des Services et conformément à la finalité de la Plateforme, vous concédez à Afpacar une licence non exclusive d’utilisation des contenus et données que vous fournissez dans le cadre de votre utilisation des Services (ci-après, votre « Contenu Membre »). Afin de permettre à Afpacar la diffusion par réseau numérique et selon tout protocole de communication, ainsi que la mise à disposition au public du contenu de la Plateforme, vous autorisez Afpacar, pour le monde entier et pour toute la durée de votre relation contractuelle avec Afpacar, à reproduire, représenter, adapter et traduire votre Contenu Membre de la façon suivante :<br>
                    <ol>
                        <li>Vous autorisez Afpacar à reproduire tout ou partie de votre Contenu Membre sur tout support d’enregistrement numérique, connu ou inconnu à ce jour, et notamment sur tout serveur, disque dur, carte mémoire, ou tout autre support équivalent, en tout format et par tout procédé connu et inconnu à ce jour, dans la mesure nécessaire à toute opération de stockage, sauvegarde, transmission ou téléchargement lié au fonctionnement de la Plateforme et à la fourniture du Service</li>
                        <li>Vous autorisez Afpacar à adapter et traduire votre Contenu Membre, ainsi qu’à reproduire ces adaptations sur tout support numérique, actuel ou futur, stipulé au (a.) ci-dessus, dans le but de fournir les Services, notamment en différentes langues. Ce droit comprend notamment la faculté de réaliser, dans le respect de votre droit moral, des modifications de la mise en forme de votre Contenu Membre aux fins de respecter la charte graphique de la Plateforme et/ou de le rendre techniquement compatible en vue de sa publication via la Plateforme</li>
                    </ol>
                </p>

        <h3 class="mt-5 mb-3">11. Rôle de Afpacar</h3>
            <p style="text-align: justify;">
                La Plateforme constitue une plateforme en ligne de mise en relation sur laquelle les Membres peuvent créer et publier des Annonces de Covoiturage pour des Trajets en Covoiturage. Ces Annonces de Covoiturage peuvent notamment être consultées par les autres Membres pour prendre connaissance des modalités du Trajet et, le cas échéant, réserver directement une Place dans le véhicule concerné auprès du Membre ayant posté l’annonce sur la Plateforme<br>
                <br>
                En utilisant la Plateforme et en acceptant les présentes CGU, vous reconnaissez que BlaBlaCar n’est partie à aucun accord conclu entre vous et les autres Membres en vue de partager les frais afférents à un Trajet.<br>
                <br>
                Afpacar n’a aucun contrôle sur le comportement de ses Membres et des utilisateurs de la Plateforme. Elle ne possède pas, n’exploite pas, ne fournit pas, ne gère pas les véhicules objets des Annonces, ni ne propose le moindre Trajet sur la Plateforme.<br>
                <br>
                Vous reconnaissez et acceptez que Afpacar ne contrôle ni la validité, ni la véracité, ni la légalité des Annonces, des Places et Trajets proposés. En sa qualité d’intermédiaire en covoiturage, Afpacar ne fournit aucun service de transport et n’agit pas en qualité de transporteur, le rôle de Afpacar se limitant à faciliter l’accès à la Plateforme.<br>
                <br>
                Dans le cadre d’un Trajet en Covoiturage, les Membres (Conducteurs ou Passagers) agissent sous leur seule et entière responsabilité, notamment conformément aux dispositions du code civil relatives au droit des obligations et à la responsabilité civile contractuelle (article 1101 et suivants du Code Civil).<br>
                <br>
                En sa qualité d’intermédiaire, Afpacar ne saurait voir sa responsabilité engagée au titre du déroulement effectif d’un Trajet, et notamment du fait :<br>
                <ol>
                    <li>D’informations erronées communiquées par le Conducteur dans son Annonce, ou par tout autre moyen, quant au Trajet et à ses modalités</li>
                    <li>L’annulation ou la modification d’un Trajet par un Membre</li>
                    <li>Le comportement de ses Membres pendant, avant, ou après le Trajet</li>
                </ol>
            </p>

        <h3 class="mt-5 mb-3">12. Fonctionnement, disponibilité et fonctionnalités de la Plateforme</h3>
            <p style="text-align: justify;">
                Afpacar s’efforcera, dans la mesure du possible, de maintenir la Plateforme accessible 7 jours sur 7 et 24 heures sur 24. Néanmoins, l’accès à la Plateforme pourra être temporairement suspendu, sans préavis, en raison d’opérations techniques de maintenance, de migration, de mises à jour ou en raison de pannes ou de contraintes liées au fonctionnement des réseaux<br>
                <br>
                En outre, Afpacar se réserve le droit de modifier ou d’interrompre, à sa seule discrétion, de manière temporaire ou permanente, tout ou partie de l’accès à la Plateforme ou de ses fonctionnalités.                    
            </p>

        <h3 class="mt-5 mb-3">13. Modification des CGU</h3>
            <p style="text-align: justify;">
                Les présentes CGU et les documents intégrés par référence expriment l’intégralité de l’accord entre vous et Afpacar relative à votre utilisation des Services. Tout autre document, notamment toute mention sur la Plateforme n’a qu’une valeur informative<br>
                <br>
                Afpacar pourra être amenée à modifier les présentes Conditions Générales d’Utilisation afin de s’adapter à son environnement technologique et commercial et afin de se conformer à la réglementation en vigueur. Toute modification des présentes CGU sera publiée sur la Plateforme avec une mention de la date de mise à jour et vous sera notifiée par Afpacar avant son entrée en vigueur                  
            </p>
                
        <div id="mentionsLegales" class="mb-5">
            <h3 class="mt-5 mb-3">14. Mentions légales</h3>
                <p style="text-align: justify;">
                    Le site est hébergé sur les serveurs de (A préciser)<br>
                    <br>
                    La plateforme est éditée par cinq développeurs étudiants à l'Afpa de St Jean de Védas :<br>
                    <ol>
                        <li>Boris BELLOC</li>
                        <li>Simon BRUANT</li>
                        <li>Simon MARTIN</li>
                        <li>Damien CROSET</li>
                        <li>Thibaud Peroua</li>
                    </ol>
                </p>
        </div>
    </div>
</div>

<style>
    ol {text-align: left;}
    li {list-style-type: none;}
    li:before {
        content: "> ";
        font-weight: bold;
        font-size: 20px;
    }
</style>

{% endblock section %}