{% extends 'base.html' %}
{% load static %}

{% block css %} "{% static 'carpooling/css/dashboard.css' %}" {% endblock css %}

{% block section %}

<div class="row">

    <div class="col-md-4">


        {% if not addresses or user.user_profile.car_owner and not cars %}

        <div class="card mt-3 mb-3">
            <div class="card-header bg-success mb-2">Completez votre profil</div>
            <div class="card-content" id="alertes_profil">

                {% if not addresses %}
                    <p class="mt-2"><span class="fas fa-exclamation"><a id="alert_dashboard" href="{% url 'carpooling:address' %}"> Vous n'avez aucune adresse enregistrée.</span></a></p>
                {% endif %}

                {% if not addresses and not cars and user.user_profile.car_owner %}
                    <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 250px; border: none;">
                {% endif %}

                {% if not cars and user.user_profile.car_owner %}
                    <p class="mt-2"><span class="fas fa-exclamation"><a id="alert_dashboard" href="{% url 'carpooling:car' %}"> Vous avez indiqué avoir un véhicule mais ne l'avez pas renseigné.</span></a></p>
                {% endif %}

            </div>
        </div>

        {% endif %}

        <div class="card mt-3 mb-3">
            <div class="card-header bg-success">Vos trajets de la semaine</div>
            <div class="card-content">
                {% if trips %}
                <table class="table-striped table-bordered">
                    <tr>
                        <td class="p-1"><b>Jour</b></td>
                        <td class="p-1"><b>Horaire de départ</b></td>
                        <td class="p-1"><b>Horaire de retour</b></td>
                    </tr>
                    {% for trip in trips %}
                        {% if not trip.deactivate %}
                            <tr>
                                <td>{{ trip.day }}</td>
                                <td>{{ trip.morning_departure_time }}</td>
                                <td>{{ trip.evening_departure_time }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                {% else %}
                    <div id="alertes_profil">
                        <p class="mt-2"><span class="fas fa-exclamation"><a id="alert_dashboard" href="{% url 'carpooling:calendar' %}"> Vous n'avez pas renseigné de semaine type.</span></a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-md-8">

        <h3 class="mt-3">
                <img class="col-md-4" id="rond_dashboard" src="{{ user.user_profile.profile_image.url }}">
            Bonjour {{ user.username }}
        </h3>



        <br>
        <br>
        <h4 class="sousParties"><span class="fas fa-car"></span><b> Propositions de covoiturages reçues (2)</b></h4>
        <br>
        <hr style="height: 2px; color: lightgray; background-color: lightgray; border: none;">
        <p>Jojo vous propose un point de rencontre à l'arret de tram Saint Eloi</p>
        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 40%; border: none;">
        <p>Jojo vous propose un point de rencontre à l'arret de tram Saint Eloi</p>

        <br>
        <h4 class="sousParties"><span class="far fa-envelope"></span><b> Nouveaux messages (1)</b></h4>
        <br>
        <hr style="height: 2px; color: lightgray; background-color: lightgray; border: none;">
        <p>Jojo - Coucou Michel je voudrais plus de détails sur le trajet de mardi...</p>

    </div>
</div>





{% endblock section %}
