{% extends 'base.html' %}
{% load static %}

{% block css %} "{% static 'carpooling/css/proposition.css' %}" {% endblock css %}

{% block section %}

<div class="container">
    <p class="mt-3">Cliquez sur la route et étirez jusqu'au point de rencontre choisi</p>
    <div id="mapProp" class="mt-3 mb-3" style="height: 600px; width: 100%;"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button class="btn btn-danger mt-3 mb-3">Revenir aux détails du trajet</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success mt-3 mb-3">Valider la proposition</button>
        </div>
    </div>
</div>


<script src="{% static 'carpooling/js/Leaflet/leaflet.js' %}"></script>
<script src="{% static 'carpooling/js/Leaflet/Plugins/leaflet-control-geocoder/Control.Geocoder.js' %}"></script>
<script src="{% static 'carpooling/js/Leaflet/Plugins/leaflet-routing-machine/leaflet-routing-machine.js' %}"></script>
<script src="{% static 'carpooling/js/Leaflet/mapProp.js' %}"></script>

{% endblock section %}