{% extends 'base.html' %}
{% load static %}

{% block css %} "{% static 'carpooling/css/trip.css' %}" {% endblock css %}

{% block section %}


<br />

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3">
				<label for="searchForm"><u>Recherchez des trajets :</u></label>

				<form method="get" accept-charset="utf-8">
					<div class="form-group">
						<input id="searchForm" class="form-control" name="day" placeholder="Entrez le jour du trajet">
					</div>
					<div class="form-group">
						<input id="searchForm" class="form-control" name="city" placeholder="Ville de départ">
					</div>
					<button class="btn btn-success" type="submit">Recherche</button>
				</form>
			</div>

			<div class='col-md-8 mb-3' id="scroller_trip">
				{% for trip in trips %}
				{% if not trip.deactivate %}
				<div class="row mb-1">
					<div class="col-md-12 card">
						<a href="{% url 'carpooling:trip_detail' pk=trip.id %}" class='row card_trip'>

							<div class="col-md-3 mt-3 infos_user">
								{% if trip.user.user_profile.profile_image %}
								<img class="col-md-12 rond_trip" src="{{ trip.user.user_profile.profile_image.url }}">
								{% else %}
								<img class="col-md-12 rond_trip" src='{% static "img/avatar_generique.png" %}'>
								{% endif %}

								<div class="first_name_user row">
									<div class='col-md-12'>
										{{ trip.user.first_name }}
									</div>
								</div>
							</div>

							<div class="mt-3">
								{{ trip.day }}
								<div class=" mt-2">

									{% if trip.user.user_profile.smoker %}
									<img title='Trajet fumeur' src="{% static 'img/icons/pink/smoking-pink.svg' %}" class="icon_pref_trip mr-1">
									{% else %}
									<img title='Trajet non fumeur' src="{% static 'img/icons/pink/smoking-ban-pink.svg' %}" class="icon_pref_trip mr-1">
									{% endif %}

									{% if trip.user.user_profile.talker %}
									<img title='Je suis bavard' src="{% static 'img/icons/pink/talker-up-pink.svg' %}" class="icon_pref_trip mr-1">
									{% else %}
									<img title='Je ne suis pas forcément bavard' src="{% static 'img/icons/pink/talker-pink.svg' %}" class="icon_pref_trip mr-1">
									{% endif %}

									{% if trip.user.user_profile.music %}
									<img title="J'aime écouter de la musique" src="{% static 'img/icons/pink/volume-on-pink.svg' %}" class="icon_pref_trip">
									{% else %}
									<img title="Je n'écoute pas de musique" src="{% static 'img/icons/pink/volume-off-pink.svg' %}" class="icon_pref_trip">
									{% endif %}

								</div>
							</div>

							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12 mt-3">
										<div class='mb-2 text-left'>
											<span style='color:red'> ALLER : </span>
											{{ trip.has_for_start.city }} ({{ trip.morning_departure_time }})
											<img src=" {% static 'img/icons/arrow-right.svg' %}" class='arrow_trip'>
											{{ trip.has_for_destination }} ({{ trip.morning_arriving_time }})
										</div>
									</div>
								</div>
								<div class="row">

									<div class="col-md-12 mb-3 text-left">
										<div>
											<span style='color:red'> RETOUR : </span>
											{{ trip.has_for_destination }} ( {{ trip.evening_departure_time }} )
											<img src=" {% static 'img/icons/arrow-right.svg' %}" class='arrow_trip'>
											{{ trip.has_for_start.city }}
										</div>
									</div>
								</div>
							</div>




							{% comment %} <div> Part de <strong>{{ trip.has_for_start.city }} à {{
									trip.morning_departure_time }} </strong></div>
							<div> à destination de <strong>{{ trip.has_for_destination }} pour {{
									trip.morning_arriving_time }} </strong></div>

							<div class="row">
								<hr style="height: 2px; color: lightgray; background-color: lightgray; width: 300px; border: none;">
							</div>

							<div style='color:red'> RETOUR </div>
							<div> Depart de <strong>{{ trip.has_for_destination }} à {{ trip.evening_departure_time }}</strong>
							</div> {% endcomment %}

						</a>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>

{% endblock section %}