{% extends 'base.html' %} 
{% load static %}

{% block css %} "{% static 'carpooling/css/trip.css' %}" {% endblock css %}

{% block section %}


<br/>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">filtre recherche</div>
                <div class='col-md-8'>
                    {% for trip in object_list %}
                    <div class="row mb-1">
                    <div class="col-md-12 card">
                        <div class='row card_trip'>
                            <div class="col-md-4 mt-3 infos_user">
                        
                                {% if user.user_profile.profile_image %}
                                <img class="col-md-4 rond_trip" src="{{ trip.user.user_profile.profile_image.url }}">
                                {% else %}
                                <img class="col-md-4 rond_trip" src='{% static "img/avatar_generique.png" %}'>
                                {% endif %}
                                {{ trip.user.first_name }}

                            </div>
                    
                            <div class="col-md-4 mt-3 mb-3">
                                <div style='color:red'> ALLER </div>
                                <div class='mb-2'> {{ trip.has_for_start.city }} ({{ trip.morning_departure_time }}) -->  {{ trip.has_for_destination }} ({{ trip.morning_arriving_time }})</div> 
                            </div>

                            <div class="col-md-4 mt-3 mb-3">
                                <div style='color:red'> RETOUR </div>
                                <div> {{ trip.has_for_destination }} ( {{ trip.evening_departure_time }} ) -- > {{ trip.has_for_start.city }}</div>
                            </div>



                                {% comment %} <div> Part de <strong>{{ trip.has_for_start.city }} à {{ trip.morning_departure_time }} </strong></div>
                                <div> à destination de <strong>{{ trip.has_for_destination }} pour {{ trip.morning_arriving_time }} </strong></div>
                                
                                <div class="row">
                                    <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 300px; border: none;">
                                </div>

                                <div style='color:red'> RETOUR </div>
                                <div> Depart de <strong>{{ trip.has_for_destination }} à {{ trip.evening_departure_time }}</strong> </div> {% endcomment %}
                            
                            
                        </div>
                    </div>
                    </div>          
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock section %}