<!-- ##### Adresse ##### -->

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Adresse</div>
</div>

<p>Vos adresses s'afficheront ici</p>

<hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

<div class="row ">
    <div class="col-md-12 mt-3">
            <form>
                <input class="form-control mb-2 mt-2" type="text" placeholder="Nom de l'adresse">
                <div class="input-group mb-2">
                    <input id="street_number" class="form-control" type="text" placeholder="Numéro de la rue">
                    <input class="form-control" type="text" placeholder="Nom de la rue">
                </div>
                <input class="form-control mb-2" type="text" placeholder="Complément d'adresse">
                <div class="input-group mb2">
                <input class="form-control mb-2" type="text" placeholder="Code postal">
                <input class="form-control mb-2" type="text" placeholder="Ville">
                </div>
                
            <div id="submit_vehicule1">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
    </div>
</div>