{% extends 'covoiturage/profil.html' %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Adresses</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}

<p>Vos adresses s'afficheront ici.</p>

<div class="row">
    <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">
</div>



<div class="row">
    <div class="col-md-2"></div>
    
    <form class="col-md-8" action="{% url 'covoiturage:adresse' %}" method="POST">
        {% csrf_token %}

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Libellé de l'adresse</div>
            </div>
            {{ form.address_label }}
        </div>

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Numéro de la rue</div>
            </div>
            {{ form.street_number }} 
        </div>

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Nom de la rue</div>
            </div>
            {{ form.street_name }} 
        </div>

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                    <div id="header_input_profil" class="input-group-text">Complément d'adresse</div>
            </div>
            {{ form.street_complement }} 
        </div>

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Code Postal</div>
            </div>
            {{ form.zip_code }} 
        </div>

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Ville</div>
            </div>
            {{ form.city }} 
        </div>

        <div id="submit_profil">
            <button type="submit" class="btn btn-success">Envoyer</button>
        </div>


        {% if form.errors %}
        <p>oui</p>
        {% else %}
        <p>non</p>
        {% endif %}
        <br />
        </form>







    </form>


        

{% endblock contenuProfil %}