{% extends 'covoiturage/profil.html' %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Informations Privées</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}


<div class="row">
    <div class="col-md-2"></div>
    <form class="col-md-8" action="{% url 'covoiturage:infos_privees' %}" method='POST'>
        {% csrf_token %}
        <div class="input-group">
            {{ form.phone_number.label_tag }}
            <div> {{ form.phone_number }} </div>
        <br>
        <div class="input-group">
            {{ form.afpa_number.label_tag }}
            {{ form.afpa_number }}
        </div>

        <div id="submit_profil">
            <button type="submit" class="btn btn-success">Envoyer</button>
        </div>

    </form>

    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% endif %}
    
</div>
    
{% endblock contenuProfil %}