<!-- ##### Informations privées ##### -->

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12">Informations Privées</div>
</div>

    <div class="row">
    <div class="col-md-2"></div>
    <form class="col-md-8" action=".">

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Numéro de téléphone</div>
            </div>
            <input id="body_input_profil" type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Adresse Email</div>
            </div>
            <input id="body_input_profil" type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Identifiant AFPA</div>
            </div>
            <input id="body_input_profil" type="text" class="form-control">
        </div>

        <div id="submit_profil">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        
    </form>
    </div>