{% extends 'covoiturage/profil.html' %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Informations Publiques</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}


<div id="message_update" class="col-md-12">
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    </div>

    <div class="row">
    <div class="col-md-2"></div>

    
    
    <form class="col-md-8" action="{% url 'covoiturage:infos_publiques' %}" method='POST'>
            {% csrf_token %}

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Pseudonyme</div>
            </div>
            {{ form.username }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Nom</div>
            </div>
            {{ form.last_name }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Prenom</div>
            </div>
            {{ form.first_name }} 
        </div>
    
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Adresse Email</div>
            </div>
            {{ form.email }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Centre AFPA</div>
            </div>
            {{ form.afpa_center }} 
        </div>
    
        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

        <label>Êtes-vous titulaire du permis de conduire ?</label>

        {% for choice in form.driver_license %}
            <div class="custom-control custom-radio">
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}" class="custom-control-label"> {{ choice.choice_label }} </label>
            </div> 
        {% endfor %} 

        {% if user.driver_license %}
            <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

            <label>Possedez-vous une voiture ?</label>

            {% for choice in form.car_owner %}
                <div class="custom-control custom-radio">
                    {{ choice.tag }}
                    <label for="{{ choice.id_for_label }}" class="custom-control-label"> {{ choice.choice_label }} </label>
                </div> 
            {% endfor %} 
        {% endif %} 


        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

        <label>Quel est votre status ?</label>


        {% for choice in form.trainee %}
            <div class="custom-control custom-radio">
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}" class="custom-control-label"> {{ choice.choice_label }} </label>
            </div> 
        {% endfor %} 

        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

            <div id="submit_profil1">
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>

    </form>
    </div>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script>
        /* $(function($){

            $('#status_stagiaire').click(function(e){
                console.log('stagiaire ok')
                $('#date_status').removeClass('hidden');
                $('#contenu').css('height', '690px');
                $('#submit_profil1').addClass('hidden');
                $('#submit_profil2').removeClass('hidden');

            });
            $('#status_employe').click(function(e){
                console.log('employe ok')
                $('#date_status').addClass('hidden');
                $('#contenu').css('height', '500px');
                $('#submit_profil1').removeClass('hidden');
                $('#submit_profil2').addClass('hidden');
                
            });
        }); */
    </script>

{% endblock contenuProfil %}
    