{% extends 'covoiturage/profil.html' %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Mot de Passe</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}

<div class="row">
    <div class="col-md-2"></div>
    <form class="col-md-8" action="." method="post">
        {% csrf_token %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Ancien mot de passe</div>
            </div>
            {{ form.old_password }} 
            {{ form.old_password.errors }}
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Nouveau mot de passe</div>
            </div>
            {{ form.new_password1 }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Confirmation mot de passe</div>
            </div>
            {{ form.new_password2 }} 
            {{ form.new_password2.errors }}
        </div>

        <div id="submit_profil">
        <button type="submit" class="btn btn-success">Envoyer</button>
            
        </div>

    </form>
</div>

{% endblock contenuProfil %}
            