{% extends 'covoiturage/profil.html' %}

{% load static %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Préférences</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}

{% comment %} <div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <input type="radio" id="oui_fumeur" name="fumeur_bool" >
        <label for="oui_fumeur"><div id="icone_fumeur" class="icone_pref fas fa-smoking"></div></label>
    </div>
    <div class="col-md-3">
        <input type="radio" id="non_fumeur" name="fumeur_bool" checked>
        <label for="non_fumeur"><div id="icone_non_fumeur" class="icone_pref fas fa-smoking-ban"></div></label>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <input type="radio" id="oui_parler" name="parler_bool" >
        <label for="oui_parler"><div id="icone_parler" class="icone_pref far fa-comments"></div></label>
    </div>
    <div class="col-md-3">
        <input type="radio" id="non_parler" name="parler_bool" checked>
        <label for="non_parler"><div id="icone_non_parler" class="icone_pref far fa-comment"></div></label>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <input type="radio" id="oui_musique" name="musique_bool" >
        <label for="oui_musique"><div id="icone_volume" class="icone_pref fas fa-volume-up"></div></label>
    </div>
    <div class="col-md-3">
        <input type="radio" id="non_musique" name="musique_bool" checked>
        <label for="non_musique"><div id="icone_no_volume" class="icone_pref fas fa-volume-off"></div></label>
    </div>
    <div class="col-md-2"></div>
</div> {% endcomment %}

<form class="col-md-8" action="{% url 'covoiturage:preferences' %}" method='POST'>
    {% csrf_token %}

    {% if user.smoker %}

    <div id="choice_smoker">
        {% for choice in form.smoker %}
            {{ choice.tag }}
                {% if forloop.counter0 == 0 %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_smoker" class="icone_pref fas fa-smoking mr-5"></div></label>
                {% else %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_smoker" class="icone_pref fas fa-smoking-ban"></div></label>
                {% endif %}
        {% endfor %}
    </div> 

    {% else %}

    <div id="choice_smoker">
        {% for choice in form.smoker %}
            {{ choice.tag }}
                {% if forloop.counter0 == 0 %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_smoker" class="icone_pref fas fa-smoking mr-5"></div></label>
                {% else %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_smoker" class="icone_pref fas fa-smoking-ban"></div></label>
                {% endif %}
        {% endfor %}
    </div> 

    {% endif %}

    <div id="choice_talker">
        {% for choice in form.talker %}
            {{ choice.tag }}
            {% if forloop.counter0 == 0 %}
            <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_talker" class="icone_pref far fa-comments mr-5"></div></label>
            {% else %}
            <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_talker" class="icone_pref far fa-comment"></div></label>
            {% endif %}
        {% endfor %}
    </div> 

    <div id="choice_music">
        {% for choice in form.music %}
            {{ choice.tag }}
            {% if forloop.counter0 == 0 %}
            <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_music" class="icone_pref fas fa-volume-up mr-5"></div></label>
            {% else %}
            <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_music" class="icone_pref fas fa-volume-off"></div></label>
            {% endif %}
        {% endfor %}
    </div> 

    

    <div id="submit_profil1">
        <button type="submit" class="btn btn-success">Envoyer</button>
    </div>

</form>

<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<script>

    new Vue({
        el: '#choice_smoker',
        data: {
            selected: undefined
        }
    });

    new Vue({
        el: '#choice_talker',
        data: {
            selected: undefined
        }
    });

    new Vue({
        el: '#choice_music',
        data: {
            selected: undefined
        }
    });

    /*
    $(function($){
        $('#id_smoker_0').click(function(e){
            console.log('oui ok')
            $('#sid_smoker_0').css('color', '#E3007E');
            $('#sid_smoker_1').css('color', 'black');
            
        });
        $('#id_smoker_1').click(function(e){
            console.log('non ok')
            $('#sid_smoker_1').css('color', '#E3007E');
            $('#sid_smoker_0').css('color', 'black');
            
        });
    }); 
    

    $(function($){
        $('#oui_parler').click(function(e){
            console.log('oui ok')
            $('#icone_parler').css('color', '#E3007E');
            $('#icone_non_parler').css('color', 'black');
            
        });
        $('#non_parler').click(function(e){
            console.log('non ok')
            $('#icone_non_parler').css('color', '#E3007E');
            $('#icone_parler').css('color', 'black');
            
        });
    });

    $(function($){
        $('#oui_musique').click(function(e){
            console.log('oui ok')
            $('#icone_volume').css('color', '#E3007E');
            $('#icone_no_volume').css('color', 'black');
            
        });
        $('#non_musique').click(function(e){
            console.log('non ok')
            $('#icone_no_volume').css('color', '#E3007E');
            $('#icone_volume').css('color', 'black');
            
        });
    });
    */
</script>

{% endblock contenuProfil %}