{% extends 'base.html' %}
{% load static %}

{% block section %}

<div id="profile_body">
    <div id="container_profil" class="container">
        <div class="row">
            <div id="side-bar" class="wrapper col-md-4">
                <div class="sidebar-wrapper d-none d-inline">
                    <div class="card nav" active-text-color="#F1F1F1">
                        <div id="titre_profil" class="card-header bg-success">Profil</div>
                        <div class="list-group side-menu" id="filtre_url_contenu">
                            <a href="{% url 'covoiturage:infos_publiques' %}" class="list-group-item link_sidebar">Informations Publiques</a>
                            <a href="{% url 'covoiturage:infos_privees' %}"   class="list-group-item link_sidebar" id="informations_privees">Informations Privees</a>
                            <a href="{% url 'covoiturage:photo' %}"           class="list-group-item link_sidebar" id="photo" >Photo</a>
                            <a href="{% url 'covoiturage:vehicule' %}"        class="list-group-item link_sidebar" data-target-id="vehicule">Vehicule</a>
                            <a href="{% url 'covoiturage:password' %}"        class="list-group-item link_sidebar">Mot de Passe</a>
                            <a href="{% url 'covoiturage:preferences' %}"     class="list-group-item link_sidebar">Préférences</a>
                            <a href="{% url 'covoiturage:adresse' %}"         class="list-group-item link_sidebar">Adresse</a>
                        </div>
                    </div>
                </div>
            </div>

        <div id="contenu" class="col-md-8">
            <div id="card_contenu" class="card col-md-12">
                {% block cardTitle %}{% endblock cardTitle %}
                {% block contenuProfil %}{% endblock %}
                     
                            {% comment %} <div class="menu-contenu" id="informations_publiques">
                                {% include 'covoiturage/profil/infos_publiques.html' %}
                            </div>
                            <div class="menu-contenu" id="informations_privees">
                                {% include 'covoiturage/profil/infos_privees.html' %}
                            </div>
                            <div class="menu-contenu" id="photo">
                                {% include 'covoiturage/profil/photo.html' %}
                            </div>
                            <div class="menu-contenu" id="vehicule">
                                {% include 'covoiturage/profil/vehicule.html' %}
                            </div>
                            <div class="menu-contenu" id="mot_de_passe">
                                {% include 'covoiturage/profil/password.html' %}
                            </div>
                            <div class="menu-contenu" id="preferences">
                                {% include 'covoiturage/profil/preferences.html' %}
                            </div>
                            <div class="menu-contenu" id="adresse">
                                {% include 'covoiturage/profil/adresse.html' %}
                            </div> {% endcomment %}

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'covoiturage/js/profil.js' %}"></script>

{% endblock %}