{% extends "base.html" %}

{% block content %}
<h1>Sign Up</h1>
    <form method='POST'> {% csrf_token %}
        <table>
          <tr>
              <td>{{ form.first_name.label_tag }}</td>
              <td>{{ form.first_name }}</td>
            </tr>
                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
                <td>{{ form.email.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                <td>{{ form.username.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
                <td>{{ form.password2.errors }}</td>
            </tr>
            </table>
      <button type='submit' class='btn btn-default'>Submit</button>
</form>
{% endblock content %}