{% extends "base.html" %}

{% block section %}
<h1>Sign Up</h1>
    <form method='POST'> {% csrf_token %}
        <table>
          <tr>
              <td>{{ signup_form.first_name.label_tag }}</td>
              <td>{{ signup_form.first_name }}</td>
            </tr>
                <tr>
                    <td>{{ signup_form.last_name.label_tag }}</td>
                    <td>{{ signup_form.last_name }}</td>
                </tr>
            <tr>
                <td>{{ signup_form.email.label_tag }}</td>
                <td>{{ signup_form.email }}</td>
                <td>{{ signup_form.email.errors }}</td>
            </tr>
            <tr>
                <td>{{ private_data_form.phone_number.label_tag }}</td>
                <td>{{ private_data_form.phone_number }}</td>
                <td>{{ private_data_form.phone_number.email.errors }}</td>
            </tr>
            <tr>
                <td>{{ private_data_form.afpa_number.label_tag }}</td>
                <td>{{ private_data_form.afpa_number }}</td>
                <td>{{ private_data_form.afpa_number.errors }}</td>
            </tr>
            <tr>
                <td>{{ signup_form.username.label_tag }}</td>
                <td>{{ signup_form.username }}</td>
                <td>{{ signup_form.username.errors }}</td>
            </tr>
            <tr>
                <td>{{ signup_form.password1.label_tag }}</td>
                <td>{{ signup_form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ signup_form.password2.label_tag }}</td>
                <td>{{ signup_form.password2 }}</td>
                <td>{{ signup_form.password2.errors }}</td>
            </tr>
            </table>
      <button type='submit' class='btn btn-default'>Submit</button>
</form>
{% endblock section %}