{% extends 'base.html' %}
{% load static %}

{% block css %} "{% static 'carpooling/css/proposition.css' %}" {% endblock css %}

{% block section %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mt-3 mb-3">{{proposition.passenger.first_name}}</div>
            <div class="mt-3 mb-3">{{proposition.message}}</div>
            <div class="mt-3 mb-3">{{proposition.default_trip.day}}</div>

            <form method="post" class="mb-3">
                {% csrf_token %}
                {{ form.validated_proposal }}
            </form>
            <a class='btn btn-danger mb-3' href="{% url 'carpooling:proposition_refused'  proposition.id %}" > Refuser la proposition </a>
            <a class='btn btn-warning mb-3' href="{% url 'carpooling:proposition'  proposition.id %}" > Faire une contre proposition </a>
        </div>
    </div>
</div>
{% endblock %}