[class*="col-"]
{
    /* border: 1px solid indigo; */
    text-align: center;
}
#body_base
{
    margin-top: 30px;
    width: calc(80%);
    box-shadow:0 0 20px rgba(0,0,0,0.8);

}


/* ###### HEADER ###### */

#logo_afpa
{
    width: 250px;

}

#titre_base
{
    font-size : 30px;
    font-weight: bold;
    margin-top: 50px;
}

/* ###### NAVBAR ###### */

#navbar
{
    background-color: #44A33D;
    margin-top : 20px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: lightgray;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

/* ###### FOOTER ###### */

footer
{
    margin-bottom: 50px;
}

#bandeau_footer
{
    height: 30px;
    background-color: #44A33D
}

#icon_footer
{
    color : #E3007E;
    text-align: center;
    margin-top: 20px;
    font-size : 40px;
    width: 50px;
}

#border_test
{
    border-left: solid 2px lightgray;
    margin-right: 3px;

}

#liens_footer
{
    padding-bottom: 50px;
}
