{% extends "base.html" %}
{% load i18n static %}


{% block section %}

{% if validlink %}

<div class='row'>

    <p class="col-md-12 mt-3">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

</div>

<div class="row">
    <div class="col-md-4 mt-4"></div>

    <form class="col-md-8" method="post">
        {% csrf_token %}

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div id="header_input_profil" class="input-group-text">Nouveau mot de passe</div>
        </div>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div id="header_input_profil" class="input-group-text">Confirmation du mot de passe</div>
        </div>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>

    <div class='row'>
            <div class="col-md-2 mt-4"></div>
        <div id="submit_profil1">
            <button type="submit" class="btn btn-success mb-3">Envoyer</button>
        </div>
    </div>

    </form>
</div>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
