{% extends "base.html" %}
{% load i18n static %}

{% block section %}

<div class='container'>

    <div class='row'>
        <p class='col-md-12 mt-3'>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    </div>

    <div class="row">
            <div class="col-md-4 mt-4"></div>

        <form class="col-md-7" method="post">
            {% csrf_token %}

        <div class="input-group col-md-8 mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">Adresse Email</div>
            </div>
            {{ form.email }} 
        </div>
        
        <div class='row'>
                <div class="col-md-3 mt-4"></div>
            <div id="submit_profil1">
                <button type="submit" class="btn btn-success mb-3">Envoyer</button>
            </div>
        </div>

    </form>

    </div>
    
</div>


{% endblock %}
