{% extends 'carpooling/profil.html' %}
{% load static %}

{% block head %} <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"> {% endblock %}

{% block cardTitle %} Adresses {% endblock cardTitle %}

{% block contenuProfil %}

<div class="row">
    {% for address in addresses %}
    <div class='col-md-4 mb-3'>
        
        <div id="card_address_content" class="card col-md-12">
            
            <div class=row>
                <div id="address_label" class="card-header bg-default col-md-12">
                    {{ address.address_label }} 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div>{% if address.street_number %}{{ address.street_number }},{% endif %} {{ address.street_name }}</div>
                    <div>{{ address.zip_code }}, {{ address.city }}</div>
                </div>
                <div class="col-md-5 mt-3 mb-4">
                    
                    <a href="{% url 'carpooling:address_update' address.id %}" id="btn_card_footer">Modifier</a>
                </div>
                <div class="col-md-1 mt-3">
                    <div>|</div>
                </div>
                <div class="col-md-5 mt-3">
                    <a href="{% url 'carpooling:address_delete' address.id %}" id="btn_card_footer">Supprimer</a>
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
{% if addresses_count < 6 or update_view %}
<div id="form_address2">
    
    <div class="row">
        <div class="col-md-2"></div>
        <form id="form_address2" class="col-md-8" method="POST">
            {% csrf_token %}            
            
            <div id="list"></div>
        </form>
        
        {% if update_view %}
        <a href="{% url 'carpooling:address' %}" class="mb-3">
            <button class="btn btn-danger btn-sm">Retourner à la page Adresses</button>
        </a>
        {% endif %}       
            
    </div>
</div>

<div class='row'>
    <div class='col-md-3 require-input-legend'><p id='text_legend'>Champ obligatoire</p> </div>
</div>
{% endif %}

<script type="text/javascript" src="{% static address_poc_url %}"></script>
<script type="text/javascript" src="{% static profil_url %}"></script>


{% comment %} <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';</script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script type="text/javascript" src="{% static 'carpooling/js/address.js' %}"></script> --> {% endcomment %}

{% endblock contenuProfil %}
