{% extends 'carpooling/profil.html' %}
{% load static %}

{% block cardTitle %} 
<div id="adresseContenu" class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Adresses</div>
</div>
{% endblock cardTitle %}

{% block contenuProfil %}

<div class="row">
    {% for address in addresses %}
    <div class='col-md-4 mb-3'>

        <div id="card_address_content" class="card col-md-12">

            <div class=row>
                <div id="address_label" class="card-header bg-default col-md-12">
                    {{ address.address_label }} 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div>{% if address.street_number %}{{ address.street_number }},{% endif %} {{ address.street_name }}</div>
                    <div>{{ address.zip_code }}, {{ address.city }}</div>
                </div>
                <div class="col-md-5 mt-3 mb-4">
                    
                    <a href="{% url 'carpooling:address_update' address.id %}" id="btn_card_footer">Modifier</a>
                </div>
                <div class="col-md-1 mt-3">
                    <div>|</div>
                </div>
                <div class="col-md-5 mt-3">
                <a href="{% url 'carpooling:address_delete' address.id %}" id="btn_card_footer">Supprimer</a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% if addresses_count < 6 or update_view %}
<div id="form_address">
<div class="row">

    {% if update_view %}
    <div class="col-md-12"><span style="font-weight: 700">Votre adresse actuelle</span> : {% if object.street_number %}{{ object.street_number }}{% endif %} {{ object.street_name }}
    {{ object.zip_code }} {{ object.city }}
    </div>
    {% else %}
    <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">
    <div v-if="fullAddress" class="col-md-12"><span style="font-weight: 700">Adresse choisie </span>: [[ fullAddress ]]</div>
    {% endif %}

</div>

<div class="row">
    <div class="col-md-2"></div>
    <form id="form_address" class="col-md-8" method="POST">
        {% csrf_token %}
        
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.address_label.label }}</div>
            </div>
            {{ form.address_label }}
        </div>
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.city_zip_code.label }}</div>
            </div>
            <div>
            {{ form.city_zip_code }}
            <div class="panel-footer" v-if="citiesZipCodesList.length">
                <ul class="list-group">
                <li class="list-group-item" v-for="cityZip in citiesZipCodesList" @click="selectedCityZip(cityZip)">
                        [[ cityZip[0] ]] ([[ cityZip[1] ]])
                </li>
                </ul>
            </div>

        </div>
        </div>
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.address.label }}</div>
            </div>
            {{ form.address }} 
            <div class="panel-footer" v-if="addressesList.length">
                <ul class="list-group">
                <li class="list-group-item" v-for="address in addressesList" @click="selectedAddress(address)">
                        [[ address.properties.label ]] 
                </li>
                </ul>
            </div>
        </div>

        <div>{{ form.json_hidden }}</div>


        <div id="submit_profil">
            <button type="submit" class="btn btn-success">Valider l'adresse</button>
        </div>
        
        {% if form.errors %}
        <p>Il y a eu une erreur lors de la création</p>
        {% endif %}
        <br />
        
    </form>
</div>
</div>

<div class='row'>
    <div class='col-md-3 require-input-legend'><p id='text_legend'>Champ obligatoire</p> </div>
</div>
{% endif %}

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';</script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script type="text/javascript" src="{% static 'carpooling/js/address.js' %}"></script>

{% endblock contenuProfil %}
