{% extends "carpooling/profil.html" %}

{% load static %}

{% block contenuProfil %}

<form method="post">{% csrf_token %}
    <hr/>
    
    <h4 class="mb-5">Êtes-vous sur de vouloir supprimer l'adresse &laquo; {{ address.address_label }} &raquo; ?</h4>
<div class='row'>
    <div class='col-md-4'></div>
        <div  class='col-md-4'>
            <div id="card_address_content" class="card col-md-12">
                <div class=row>
                    <div id="address_label" class="card-header bg-default col-md-12">
                        {{ address.address_label }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 mt-3">
                        <div>{% if address.street_number %}{{ address.street_number }},{% endif %} {{ address.street_name }}</div>
                        <div>{{ address.zip_code }}, {{ address.city }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div align="center"><input type="submit" class="btn btn-danger" value="Valider la suppression" /></div>
</form>


<div align="left"><a  class="btn btn-success btn-sm mt-4" href="{% url 'carpooling:address' %}">Retour à la page Adresses </a></div>

<script type="text/javascript" src="{% static profil_url %}"></script>

{% endblock %}