{% extends 'carpooling/profil.html' %}
{% load static %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Informations Publiques</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}


<div id="message_update" class="col-md-12">
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    </div>

    <div id="message_update" class="col-md-12">
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    </div>

    <div class="row">
    <div class="col-md-2"></div>

    
    
    <form class="col-md-8" method='POST'>
            {% csrf_token %}

            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <div id="header_input_profil" class="input-group-text">Centre de formation</div>
                </div>
                {{ afpa_center_form.center_name }}
            </div>
    
    

            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <div id="header_input_profil" class="input-group-text">Début de formation</div>
                </div>
                {{ formationSession_form.formation_session_start_date }}
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <div id="header_input_profil" class="input-group-text">Fin de formation</div>
                </div>
                {{ formationSession_form.formation_session_end_date }}
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <div id="header_input_profil" class="input-group-text">Début de stage</div>
                </div>
                {{ formationSession_form.work_experience_start_date }}
            </div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <div id="header_input_profil" class="input-group-text">Fin de stage</div>
                </div>
                {{ formationSession_form.work_experience_end_date }}
            </div>

            <div id="submit_profil">
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>


                
    

    </form>
    </div>


{% endblock contenuProfil %}
    