{% extends 'carpooling/profil.html' %}

{% load static %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Informations Générales</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}


<div id="message_update" class="col-md-12">
        {% for message in messages %}
            {{ message }}
        {% endfor %}

    </div>

    <div class="row">
    <div class="col-md-2"></div>

    
    <form class="col-md-8" method='POST'>
            {% csrf_token %}

        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ user_form.username.label }} </div>
            </div>
            {{ user_form.username }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ user_form.last_name.label }}</div>
            </div>
            {{ user_form.last_name }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ user_form.first_name.label }}</div>
            </div>
            {{ user_form.first_name }} 
        </div>
    
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ user_form.email.label }}</div>
            </div>
            {{ user_form.email }} 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ user_profile_form.afpa_center.label }}</div>
            </div>
            {{ user_profile_form.afpa_center }} 
        </div>
    
        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

<div id="view_car_owner">

        <label>Êtes-vous titulaire du permis de conduire ?</label>

        {% for choice in user_profile_form.driver_license %}
            <div class="custom-control custom-radio">
                {{ choice.tag }}
                {% if forloop.counter0 == 0 %}
                <label @click="show" class="custom-control-label" for="{{ choice.id_for_label }}">Oui</label>
                {% else %}
                <label @click="hide" class="custom-control-label" for="{{ choice.id_for_label }}">Non</label>
                {% endif %}
            </div> 
        {% endfor %} 


        <div v-if="isVisible">

            <div class="row">
                <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">
            </div>

            <label>Possedez-vous une voiture ?</label>

            {% for choice in user_profile_form.car_owner %}
                <div class="custom-control custom-radio">
                    {{ choice.tag }}
                    <label for="{{ choice.id_for_label }}" class="custom-control-label"> {{ choice.choice_label }} </label>
                </div> 
            {% endfor %} 
        </div>

</div>

        <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">

        <label>Quel est votre status ?</label>


        {% for choice in user_profile_form.trainee %}
            <div class="custom-control custom-radio">
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}" class="custom-control-label"> {{ choice.choice_label }} </label>
            </div> 
        {% endfor %} 

            <div class="row">
                <hr style="height: 2px; color: lightgray; background-color: lightgray; width: 400px; border: none;">
            </div>

            <div id="submit_profil1">
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>

    </form>
</div>
    <div class='row'>
        <div class='col-md-3 require-input-legend mt-1'><p id='text_legend'>Champ obligatoire</p> </div>
    </div>


    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    
    <script>
        /* $(function($){

            $('#status_stagiaire').click(function(e){
                console.log('stagiaire ok')
                $('#date_status').removeClass('hidden');
                $('#contenu').css('height', '690px');
                $('#submit_profil1').addClass('hidden');
                $('#submit_profil2').removeClass('hidden');

            });
            $('#status_employe').click(function(e){
                console.log('employe ok')
                $('#date_status').addClass('hidden');
                $('#contenu').css('height', '500px');
                $('#submit_profil1').removeClass('hidden');
                $('#submit_profil2').addClass('hidden');
                
            });
        }); */
    </script>

{% endblock contenuProfil %}
    