{% extends 'carpooling/profil.html' %}

{% block cardTitle %} 

<div class="row">
    <div id="titre_profil" class="card-header bg-success col-md-12 mb-3">Mot de Passe</div>
</div>

{% endblock cardTitle %}

{% block contenuProfil %}

<div class="row mt-3">
    <div class="col-md-2"></div>
    <form class="row col-md-10" method="post">
        {% csrf_token %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.old_password.label }}</div>
            </div>
            {{ form.old_password }}

            <div class='col-md-4 password_error' >
                {% for error in form.old_password.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.new_password1.label }}</div>
            </div>
            {{ form.new_password1 }} 
            <div class='col-md-4'></div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.new_password2.label }}</div>
            </div>
            {{ form.new_password2 }} 
            <div class='col-md-4 password_error' >
                {% for error in form.new_password2.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
        <div class='col-md-2'></div>
        <div id="submit_profil">
            <button type="submit" class="btn btn-success">Changer de Mot de Passe</button>        
        </div>

    </form>

   
</div>

<div class='row'>
    <div class='col-md-3 require-input-legend mt-2'><p id='text_legend'>Champ obligatoire</p> </div>
</div>

{% endblock contenuProfil %}
            