{% extends 'carpooling/profil.html' %}

{% load static %}

{% block cardTitle %} Préférences du trajet.{% endblock cardTitle %} 

{% block contenuProfil %}

<div id="message_update" class="col-md-12 mb-3">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-2"></div>

    <form class="col-md-8 mt-3" method='POST'>
        {% csrf_token %}

        <div id="choice_smoker">
            {% for choice in form.smoker %}
                {{ choice.tag }}
                    {% if forloop.counter0 == 0 %}
                    <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_smoker" title='Trajet fumeur' class=" fas fa-smoking mr-5"></div></label>
                    {% else %}
                    <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_smoker" title='Trajet non fumeur' class=" fas fa-smoking-ban"></div></label>
                    {% endif %}
            {% endfor %}
        </div>

        <div id="choice_talker">
            {% for choice in form.talker %}
                {{ choice.tag }}
                {% if forloop.counter0 == 0 %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_talker" title='Je suis bavard' class=" far fa-comments mr-5"></div></label>
                {% else %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_talker" title='Je ne suis pas forcément bavard' class=" far fa-comment"></div></label>
                {% endif %}
            {% endfor %}
        </div> 

        <div id="choice_music">
            {% for choice in form.music %}
                {{ choice.tag }}
                {% if forloop.counter0 == 0 %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 1" :class="{highlight:selected == 1}" id="icon_music" title="J'aime écouter de la musique" class=" fas fa-volume-up mr-5"></div></label>
                {% else %}
                <label for="{{ choice.id_for_label }}"><div @click="selected = 2" :class="{highlight:selected == 2}" id="icon_music" title="Je n'écoute pas de musique" class=" fas fa-volume-off"></div></label>
                {% endif %}
            {% endfor %}
        </div> 



        <div class='mt-3' id="submit_profil1">
            <button type="submit" class="btn btn-success">Envoyer</button>
        </div>

    </form>
</div>

<script type="text/javascript" src="{% static profil_url %}"></script>
<script type="text/javascript" src="{% static preferences_url %}"></script>

{% endblock contenuProfil %}