{% extends 'carpooling/profil.html' %}
{% load static %}
{% block cardTitle %} Informations Privées {% endblock cardTitle %} 

{% block contenuProfil %}

<div id="message_update" class="col-md-12 mb-3">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-2"></div>

    <form class="col-md-10" method='POST'>
        {% csrf_token %}
        <div class="input-group mb-8">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.phone_number.label }}</div>
            </div>
            {{ form.phone_number }} 
            <div class='col-md-4 password_error' >
                {% for error in form.phone_number.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="input-group mt-3">
            <div class="input-group-prepend">
                <div id="header_input_profil" class="input-group-text">{{ form.afpa_number.label }}</div>
            </div>
            {{ form.afpa_number }}
            <div class='col-md-4 password_error' >
                {% for error in form.afpa_number.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>
        <div id="submit_profil">
            <button type="submit" class="btn btn-success">Envoyer</button>
        </div>
    </form>

</div>


<div class='row'>
    <div class='col-md-3 require-input-legend mt-5'><p id='text_legend'>Champ obligatoire</p> </div>
</div>

<script type="text/javascript" src="{% static profil_url %}"></script>


{% endblock contenuProfil %}